.formulario{
    width: 100%;
    height: 400px;
    background-color: #7209b7;
    border: 1px solid black;
}

.formulario h1{
    font-size: 30px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 1px 1px black;
    color: #fff;
}


.formulario form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.formulario label{
    font-size: 26px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 1px 1px black;
    color: #fff;
    margin-top: 10px;
}

.formulario input{
    width: 350px;
    height: 30px;
    border: 2px solid black;
    margin-top: 10px;
    border-radius: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: black
}

.formulario button{
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #7209b7;
    padding: 10px;
    color: #fff;
    transition: all 0.8s ease;
    border: 2px solid white;
} 

 .formulario button:hover{
    background-color: rgb(27, 130, 27);
}